/* STYLES GENERAUX -- tout peut-être modifié ! -- */

/* -- COLOR -- */
/*  .gris-bleu moyen : #ccc;
    .bleu clair :  #B0E0E6;
    .bleu moyen => logo asbl: #6495ED;
    .bleu thème => couleur du FOOTER : #339fd7; rgb( 51, 159, 215);
    .gris moyen mauve : #d3cdcb;
    .gris moyen => couleur de soulignement: #a39382;
    .gris foncé => Couleur des titres h1: #4c4c4c;
    .gris moyen foncé => rgba( 96, 96, 96, 0.8);
    .orange thème => couleur bouton et menu : #ff7d18; rgb( 255, 125, 24);
    .orange menu : #FFBD4F; rgb( 255, 189, 79);
    

*/ 

body{
    font-family: "Segoe UI", "Lucida Grande", Roboto, Verdana, Lucida, Helvetica, Arial, sans-serif;
    font-size: 15px;
    background-color : white;
    color: rgba( 96, 96, 96, 0.8);
    margin: 0;
    padding: 0; 
    position: absolute; 
}

/*[class^="col-"],
[class*=" col-"],
.row {
    padding: 0.5rem;
    margin: 0.5rem;
}
*/

header{
    position: relative;
}
.wrap{
    background-color:white;
    height: 5rem;
    padding: 5px;
}
.wrap .logo{
    width: 50%;
}
/*   Enlevé par Angélique 
.container-fluid{
    padding: 0px;
    margin: 0px;
}
*/
.bandeau-bleu{
    border-top: 10px solid #1E95D3;

}

nav{
    display: block; 
    position: sticky;  /*pour fixer le nav */
    z-index: 10000;
    top: 0;
    padding: 0px;
    margin: 0px;
    text-align: center;

}

nav ul{
    padding: 0.5rem 1.5rem;
    margin: 0px;
    list-style-type: none;
    background-color: #FFBD4F;
    text-align: center;
    width: 100%;

}


nav li{
    display: inline-block;
    text-align: center;
    position: relative;
    margin: 5px;

}



nav li a{
    display: block;
    text-decoration: none;
    color:#FFFFFF;

}

nav li :hover {
    color: #EEEEC6;
    text-decoration: none;
}

.sub-menu {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 1;
}


nav ul li:hover .sub-menu {
    display: block;
}


/*.button {
    background-color: #8EFAEC;
    border: none;
    color: #ea0d0d;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 9px; 
}  */

 img{
    width: 100%;
    height: auto;
    margin: 1rem;

} 
.btn{
    background: #3b5998;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    margin-top: 10px;
    /*  margin: 15px;
      width: 35px; */
}

.btn-facebook{
    background: #3b5998;

}

.btn:hover{
    color: white;
    opacity: 0.8;
}


.fas {
    color: white;
}

/* FIN BODY */


/* SUBSIDES A NE PAS TOUCHER */ 

.soutien{
    border-top: 3px solid #FF8000;
    margin: 2rem;
    font-family: Segoe UI;
    color: #FF892F;

}.soutien h4{    
    font-size: 1.2rem;   
    padding-top: 0.5rem;
}

.container-fluid .subside{
    width: 100%;
    height: auto;
    margin: 22px;
    /*left: 3rem; */
}
/*DEBUT FOOTER A NE PAS TOUCHER */
footer{
    width: 100%;
    height: 60px;
    background-color: #1E95D3; 
    margin-top: 10px;
    text-align: center;
    color: white;
   
}
/* FIN FOOTER */




/* DEBUT ACCEUIL */


.banière-acceuil{
    margin-top: 12px; 

}
/*
.h1, h1 {
    font-size: 1rem;
    color:#FF7D19;
}
*/
.actualites-accueil h1{
    font-size: 2rem;
}
   /* 
    .actualites-accueil > img{
        
    }
*/


/* FIN ACCEUIL */




/* DEBUT QUI SOMMES NOUS? */
.apropos{

    display: none;





}

/* FIN QUI SOMMES NOUS? */




/* DEBUT FORMATIONS */
.forma #nosformations{
    padding: 3rem 0;
    text-align: center;
    font-size: 2rem;
    color: #4c4c4c;

}

.forma .formations{
    border: 1px solid  #a39382;
    margin-bottom: 3rem;


}
.forma .formations h2{
    text-transform: uppercase;
    font-size: 1.5rem;
    padding:0.5rem 0;
    /*
    text-decoration: underline #a39382;
    text-underline-position: under;
    */
    color: #4c4c4c;    
}
.forma .formations p{
    font-size: 1.1rem;
}
.forma .formations img{
    width: 100%;
    height: auto;
  /*  float: right; */
}

.forma .formations .row div:nth-child(2){
    text-align: right;
}

.forma .formations .row div:first-child *{

    /*  margin-left: 1rem; */
    padding-left: 1rem; 
}

.forma .btn-info{
    background-color: #ff7d18;
    border: none;
    min-width: 12rem;
    margin-right: 4rem;
    margin-top: 4rem;
    margin-bottom: 1rem;
    

}

/* --- PAGE liées à FORMATIONS (extend) ==> FORMATION FLE LANGUE ETRANGERE --- */

.forma .extend h2{
    /*
    text-decoration: underline #a39382;
    text-underline-position: under;
    */
    font-size: 1.5rem;
    padding-top: 0.8rem;
}
.forma .extend h3{
    font-size: 1.3rem;
    padding-top: 1.1rem;

}
.forma .extend h2, .extend h3{
    /*
    text-decoration: underline #a39382;
    text-underline-position: under;
    */
    padding-bottom: 0.5rem;
    color: #4c4c4c;  
}
.forma .extend .row div:first-child ul{
    line-height: 1.8rem;   
}
.forma .extend .row:last-of-type p:last-of-type{
    background-color: rgba( 255, 189, 79, 0.1);
    margin-top: 3rem;
    padding-top: 1.3rem;
    padding-bottom: 1.5rem;
    text-align: center;
    border: 2px solid #ff7d18;
    box-shadow: 8px 8px 12px #a39382;
    
}
.forma .extend .row:nth-child(3) div:nth-child(2){
    background-color: rgba( 51, 159, 215, 0.2);
    border-radius: 7px;
    margin: 0.7rem;

}
.forma .extend .row:last-of-type div:last-of-type .inscrire{

    text-align: center;
}


/* FIN FORMATIONS */




/* DEBUT CONTACT */


/* FIN CONTACT */




/* PARTENAIRES */


/* FIN PARTENAIRES */



/* DEBUT SOUTENIR */

.soutenir-main-image {
    text-align: center;
}

.soutenir-main-image img{
    width: auto;
    max-width: 100%;
}

/* FIN SOUTENIR */


